#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* ---------------------------COMMON RULES---------------------------*/

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

header {
  margin: 40px;
  max-width: 1000px;
  margin: auto;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #f6f1eb;
  color: rgb(30, 29, 29);
  line-height: 20px;
}
p {
  text-align: justify;
}
.container {
  max-width: 1000px;
  margin: auto;
}
h1 {
  font-size: 30px;
  line-height: 40px;
  font-weight: 600;
}

h2 {
  display: flex;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
h4 {
  font-size: 20px;
  font-family: var(--bold-font);
  margin: 20px 0;
}
/* ---------------------------HEADER--------------------------*/
.photo {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.introduction {
  max-width: 1000px;
  display: flex;
  align-items: flex-end;
  gap: 30px;
  margin-bottom: 50px;
}
.navigation {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
/* ---------------------------A PROPOS--------------------------*/
.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
  color: rgb(30, 29, 29);
}

a {
  color: black;
  text-decoration: none;
}
.alternance {
  font-weight: 600;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  height: auto;
  padding: 20px;
}
.logo img {
  height: 50px;
}
/* ---------------------------PROJETS--------------------------*/
.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  max-width: 1240px;
  margin: auto;
  /* background-color: pink; */
}

.image-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: #beb9b3 3px 3px 10px 0px;
  padding: 20px;
  border-radius: 10px;
  margin: 30px auto;
  gap: 10px;
  /* background-color: green; */
}
.margin {
  width: 100%;
  padding: 10px;
}
.images {
  max-width: 500px;
  display: flex;
  justify-content: space-between;
  /* border: black 1px solid; */
}
.image-container img {
  width: 100%;
  border-radius: 10px;
  object-fit: contain;
}
.description {
  margin: 0 30px;
  width: 600px;
}
.description img {
  width: 200px;
}
/* ---------------------------COMMUNICATION--------------------------*/
.pdf {
  /* background-color: orange; */
  margin-bottom: 10px;
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.pdf img {
  /* height: 280px; */
  border-radius: 10px;
  width: 100%;
}
.work {
  /* background-color: pink; */
  margin-bottom: 100px;
}
/* ---------------------------FOOTER--------------------------*/
.footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 100px;
  gap: 5px;
}

@media (max-width: 820px) {
  .introduction {
    /* display: block; */
    font-size: 15px;
    margin-bottom: 30px;
  }

  h1 {
    font-size: 20px;
    margin: auto;
  }
  .presentation {
    font-size: 15px;
  }
  .image-container {
    flex-wrap: wrap;
  }
}

@media (max-width: 768px) {
  .image-container {
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: #beb9b3 3px 3px 10px 0px;
  }
  .image-container img {
    background-color: green;
    width: 300px;
    border-radius: 10px;
  }
}
@media (max-width: 415px) {
  .image-container {
    max-width: 300px;
    /* width: 100%; */
    /* background-color: pink; */
    padding: 15px;
  }

  .introduction {
    display: block;
  }
  .photo {
    width: 100px;
    height: 100px;
  }
  .navigation nav {
    font-size: 15px;
    flex-direction: column;
    text-decoration: underline;
  }

  .logo img {
    height: 30px;
  }
  p {
    font-size: 12px;
  }

  .project-container {
    /* background-color: orange; */
    max-width: 390px;
    /* margin: auto; */
  }

  .image-container img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
}
